body {
    background-color: #000000;
}

.nav {
    /* Цвет панели навигации */
    background: #ffffff;
    left: 0;
    z-index: -1;
}

.nav-link {
    /*цвет ссылок навигици*/
    color: #000;
    outline-style: solid;
    outline-width: 1px;
}

.nav-link:hover {
    /* Цвет ссылки при наведении на нее курсора мыши */
    color: #30d5c8;
}

h1 {
    margin-top: 200px;
    text-align: center;
}

.text-style {
    /*стиль текста*/
    font-family: "Gilroy";
    color: #fff;
}

.link-style {
    font-size: 24pt;
    display: block;
    text-align: center;
    text-decoration: none;
}

.link-style:hover {
    color: #30d5c8;
}

.img-size {
    display: block;
    /*Выравнивание по центру*/
    margin: 0 auto;
    /*Выравнивание по центру*/
    margin-top: 100px;
    width: 200px;
    height: 100px;
}

@font-face {
    /* Гарнитура шрифта */
    font-family: "Gilroy";
    src: url('/static/fonts/Gilroy-UltraLight.ttf') format('ttf');
    font-style: normal;
    font-weight: normal;
}