body {
  background-color: #000000;
}
.nav{ /* Цвет панели навигации */
 background:#ffffff;
 left:0;
 z-index:-1;
}
.nav-link{ /*цвет ссылок навигици*/
color: #000;
}
.nav-link:hover{
 color:  #30d5c8; /* Цвет ссылки при наведении на нее курсора мыши */
}
h1{
 color: #ffffff;
 margin-top: 20%;
 text-align:  center;
 font-family: "Aria", sans-serif;
}