{% extends "base.html" %}
{% block content %}
<div class="find-search-book-style height-style-percent">
    <div class="book-container">
        <div class="book-number-style">
            <p class="font-style book-number-p"><span> Page {{number_page}} of 410</span></p>
        </div>
        <div class="book-room-content">
            <p class="font-style info-book-style text-book">Room:</p>
            <p class="lead font-style book-room-p info-book-style text-book" id="copytext">{{hex}}</p>
            <a href="#" data-clipboard-target="#copytext" class="pull-right copy-text book-room-link">[копировать номер комнаты]</a>
        </div>
        <div>
            <p class="font-style info-book-style text-book">Wall: {{shelf}}</p>
        </div>
        <div>
            <p class="font-style info-book-style text-book">Shelf: {{volume}}</p>
        </div>
        <div>
            <p class="book-p font-style text-book">Book name: {{name}}</p>
        </div>
        <div><img width="{{ width }}px" height="{{ height }}px" class="image-book-style image-book-frame"
                src="{{picture_name}}"></div>
        <form method="get">
            <div class="book-next-page">
                <button type="submit" class="btn btn-outline-dark" name="full-left" value="full-left"><<</button>
                <div class="book-last-page-style"></div>
                <button type="submit" class="btn btn-outline-dark" name="left" value="left"><</button>
                <div><a class="nav-link book-link" href="{{picture_name}}"
                        download="{{name}}_{{number_page}}.png">скачать изображение</a></div>
                <button type="submit" class="btn btn-outline-dark" name="right" value="right">></button>
                <div class="book-last-page-style"></div>
                <button type="submit" class="btn btn-outline-dark" name="full-right" value="full_right">>></button>
            </div>
        </form>
    </div>
    <script>
        var clipboard = new Clipboard('.copy-text');
    </script>
</div>
{% endblock %}