{% extends "base.html" %}
{% block content %}
<div class="background-style index-style">
    <div class="content-gif"><img class="img-size book-gif-size" src="static/img/cat-runs.gif" alt="кот куда-то бежит">
    </div>
    <form class="browse-form-style" method="post">
        <div class="input-group mb-3 form-browse">
            <input type="text" class="form-control" placeholder="Введите номер комнаты" aria-label="3"
                aria-describedby="basic-addon2" name="room">
        </div>
        <div class="message">{{ message_room }}</div>
        <div class="input-group mb-3 form-browse">
            <label class="input-group-text" for="inputGroupSelect01">Wall</label>
            <select class="form-select" id="inputGroupSelect02" name="wall">
                {% for i in range(1, 5) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3 form-browse">
            <label class="input-group-text" for="inputGroupSelect01">Shelf</label>
            <select class="form-select" id="inputGroupSelect01" name="shelf">
                {% for i in range(1, 21) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3 form-browse">
            <label class="input-group-text" for="inputGroupSelect01">Book</label>
            <select class="form-select" id="inputGroupSelect03" name="book">
                {% for i in range(1, 33) %}
                <option value="{{i}}">{{i}}</option>
                {% endfor %}
            </select>
        </div>
        <div class="input-group mb-3 form-browse">
            <input type="text" class="form-control" placeholder="Введите номер страницы: 1 - 410" aria-label="3"
                aria-describedby="basic-addon2" name="page">
        </div>
        <div class="message">{{ message_page }}</div>
        <div class="message">{{ message }}</div>
        <button type="submit" class="btn btn-dark">Отправить</button>
    </form>
</div>
{% endblock %}