{% extends "base.html" %}
{% block content %}
<div class="background-style height-style-vh">
    <img class="img-size radius-style" src="static/img/book.gif" alt="книга">
    <div class="main-text"><p class="title">Вавилонская библиотека</p></div>
    <p class="link-located"><a class="text-style font-style link-style browse-page" href="/browse">Browse</a></p>
        <p class="link-located"><a class=" text-style font-style link-style info-page" href="/search">Search</a></p>
    <p class="link-located"><a class=" text-style font-style link-style info-page" href="/random_book">Random</a></p>
    <p class="link-located"><a class=" text-style font-style link-style info-page" href="/information">Information</a></p>
</div>
{% endblock %}