{% extends "base.html" %}
{% block content %}
<div class="background-style index-style">
    <div class="content-gif"><img class="img-size radius-style" src="static/img/book.gif" alt="книга"></div>
    <p class="main-text">Вавилонская библиотека</p>
    <p class="link-located"><a class="text-style font-style link-style browse-page" href="/browse">Browse</a></p>
    <p class="link-located"><a class=" text-style font-style link-style info-page" href="/information">Information</a></p>
</div>
{% endblock %}