{% extends "base.html" %}
{% block content %}
<div class="background-style info-style bg-article">
    <p>
    <div class="article-text font-style article-located">
        <p>
            <font size="6" color="#341d08">П</font>редставьте себе библиотеку,
            где вы можете отыскать любую картинку. Да, именно любую, представив даже самое странное изображение,
            оно все равно окажется в той библотеке, впрочем как и картина Ван Гога <a class="article-link"
                href="https://gallerix.ru/album/Vincent-Van-Gogh/pic/glrx-413874770" target="_blank">Звездная ночь</a>.
            Стало не по
            себе?
        </p>
    </div>
    <blockquote class="font-style article-located">
        <p>Возможно, страх и старость обманывают меня, но я думаю, что человеческий род – единственный – близок к
            угасанию,
            а Библиотека сохранится: освещенная, необитаемая, бесконечная, абсолютно неподвижная, наполненная
            драгоценными
            томами, бесполезная, нетленная, таинственная.</p>
        <cite>Хорхе Луис Борхес. Вавилонская библиотека</cite>
    </blockquote>
    <div class="article-text font-style article-located">
        <p>
            <font size="6" color="#341d08">В</font>се это красивые слова. Где же теория?
        </p>
        <p>Самая библиотека будет немного отличаться от Вавилонской, как Вы уже, наверное, поняли. Вместо слов -
            картинки.
            Можно подумать, что библиотека бесконечна, но нет. Всего страниц в ней <span style="font-weight: bold;">≈
                10**503920</span>. Для сравнения - это в
            10**503820 больше <a class="article-link"
                href="https://ru.wikipedia.org/wiki/%D0%93%D1%83%D0%B3%D0%BE%D0%BB" target="_blank">Гугол числа</a> и в
            10**503840 больше числа атомов во <a class="article-link"
                href="https://ru.wikipedia.org/wiki/%D0%9A%D0%B8%D0%BD%D0%B5%D0%BC%D0%B0%D1%82%D0%BE%D0%B3%D1%80%D0%B0%D1%84%D0%B8%D1%87%D0%B5%D1%81%D0%BA%D0%B0%D1%8F_%D0%B2%D1%81%D0%B5%D0%BB%D0%B5%D0%BD%D0%BD%D0%B0%D1%8F_Marvel"
                target="_blank">Вселенной</a>.
        </p>
        <p style="font-weight: bold;"><em>"Вавилонская библиотека состоит из шестигранных комнат, в каждой из которых
                имеется по двадцать полок, на
                каждой из которых находятся тридцать две книги одного формата, во всех книгах по четыреста десять
                страниц, на странице 360 строк по 310 пикселей на каждой. Каждый пиксель окрашен в один из 32768
                цветов." </em></p>
        <p>Это реализация, которую Вы сможете увидеть на сайте. Также для лучшего осознания посмотрите видео ниже,
            заодно вспомните английский:)</p>
    </div>
    <div class="video-container article-located">
        <div class="content-gif"><img class="img-size gif-rotate" src="static/img/cat-drinks.gif" alt="кот что-то пьёт">
        </div>
        <div class="video">
            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/GDrBIKOR01c"
                title="YouTube video player" frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>

        </div>
        <div class="content-gif"><img class="img-size" src="static/img/cat-drinks.gif" alt="кот что-то пьёт"></div>
    </div>
</div>
{% endblock %}