{% extends "base.html" %}

{% block content %}
<div class="sign-in-style">
    <div class="gif-sign-in-center"><img class="gif-sign-in" src="static/img/dog-reads-sleeps.gif"
            alt="собака опять что-то читает">
    </div>
    <h1 class="sign-style-h sign-in-h">Sign in to Library of Babel</h1>
    <form class="form-style font-style" action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.email.label }}<br>
            {{ form.email(class="form-control", type="email") }}<br>
            {% for error in form.email.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>
            {{ form.password.label }}<br>
            {{ form.password(class="form-control", type="password") }}<br>
            {% for error in form.password.errors %}
        <div class="alert alert-danger" role="alert">
            {{ error }}
        </div>
        {% endfor %}
        </p>
        <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
        <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
        <div>{{ message }}</div>
    </form>
</div>
{% endblock %}